<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div id="container_currentDirectory">
        @Html.Partial("_currentDirectory")
    </div>
    
    <div id="container_fileList">
        @*@Html.Partial("_fileList")*@
    </div>
    <div>
        Right Panel
    </div>

</body>
</html>
