<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/testapp.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="searchBox">
            <div style="margin-right: 23px;">
                <form class="example">
                    <input id="sText" type="text" placeholder="Search.." name="search">
                    <button onclick="searchDirectory()" type="button">Search</button>
                </form>
            </div>
            <div style="margin-right: 12px;">
                <form method="post" action="" enctype="multipart/form-data"
                      id="myform">

                    <div>
                        <input type="file" id="file" name="file" />
                        <input type="button" class="button" value="Upload" onclick="UploadFile()"
                               id="but_upload">
                    </div>
                </form>
            </div>
        </div>
        <div class="heading">
            <div id="container_currentDirectory">
            </div>
        </div>
        <div id="container_fileList">
        </div>
        <div class="footer" id="container_footer">
        </div>


    </div>
</body>
</html>
