<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/testapp.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="heading" id="container_currentDirectory">
            @*@Html.Partial("_currentDirectory")*@
        </div>

        <div id="container_fileList">
            @*@Html.Partial("_fileList")*@
        </div>
        <div class="footer" id="container_footer">
        </div>       
    </div>
</body>
</html>
