body {
    font-family: monospace !important;
}

.container {
    width: 80%;
    margin: auto;
    padding: 10px 10px 10px 10px;    
}

#container_fileList {
    display: flex;
    margin-top: 10%;
}

ul {
    list-style: none;
}

    ul.folder li::before {
        content: "📁";
        display: inline-block;
        margin-right: 0.2rem;
    }

    ul.files li:before {
        content: "📖";
    }



.label {
    font-size: 14px;
    color: white;
    padding-right: 5px;
}

.label-val {
    font-size: 16px;
    margin-right: 100px;
    font-weight: bold;
}


.footer {
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0%);
    margin: 0 auto;
    background-color: #7e236a;
    padding: 3px 3px 3px 3px;
    width: 80%;
    text-align: center;
    color: wheat;
}


.heading {
    position: fixed;
    display: flex;
    color: blue;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
    padding-left: 20px;
}

.searchBox {
    position: fixed;
    justify-content: right;
    display: flex;
    color: white;
    top: 0px;
    background-color: #7e236a;
    width: 80%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.searchButton {
    margin-left: 20px;
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: #069;
    cursor: pointer;
}
